# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build / production
dist/
build/

# Optional: bat scripts (if not critical to share)
*.bat
